:root{
    --vermelho: #e50914;
    --preto: #141414;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*elementos base*/
body{
  background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #141414;
    width: 100%;
    z-index: 110;
    height: inherit;
    transition:  top .5s;
    
}


header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'arial black';
    font-size: 40px;
    margin-left: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;   
} 

header nav a:hover {
    color: #fff;
    font-size: 12pt;
    border-top: 1px solid var(--vermelho);
    border-bottom: 6px solid var(--vermelho);
    padding-bottom: 3px;
    
    transition: .5s ease-out;
}


#procura-filme 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 40%;
    
    
}


#procura-filme input{

    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 210px;
    border: #aaa;
    border-radius: 5px;    
    height: 25px;
    color: white;
    padding: 0 0 0 30px;
    background: #444343
}

#procura-filme input:focus{
    outline: none;
}

#procura-filme i {
    position: relative;
    left: -209px;
    
}

#procura-filme i:active{
    font-size: 14pt;
}



/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0, .50), rgba(0,0,0.80)100%) ,url('../img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{

    background-color: white;
    color: black;
}

.botao i{
    margin-right: 9px;
}


.filme-principal .container{
    width: 70%;
    
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-filmes{
    margin: 15px 20px 50px;
}

.title-filmes{
    margin: 0 60px 20px;
}

.title-filmes:hover{
    color: #aaa;
    cursor: pointer;
}

/* rodape da pagina */

.creditos{
    height: 50px;
    background: linear-gradient(rgba(0,0,0, .50), rgb(134, 7, 7)100%) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
}

.creditos text{
    padding-top: 10px;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}



.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    background: red;
    border-color: red;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: rgb(175, 61, 61);}



.owl-theme .owl-nav [class*=owl-]:hover{
    background: none !important;
    font-size: 50px;
}

